
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}


.desktop-navbar {
    display: none;
    background-color: #000;
    color: whitesmoke;
    border-bottom: 1px solid #333;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
    text-align: center;
}


.desktop-navbar a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 1s;
    
}

.desktop-navbar .anasayfa {
    font-size: 24px;
    font-weight: bold;
}

.desktop-navbar a:hover {
    color: aqua;
    text-shadow: 0 0 10px aqua;
}


.mobile-navbar {
    background-color: black;
    color: whitesmoke;
    border-bottom: none;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    position: relative;
    height:8vh;
}


.mobile-navbar .menu-icon {
    position: absolute;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    color: whitesmoke;
}


.mobile-navbar .anasayfa {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    white-space: nowrap;
}

.mobile-navbar .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 16.2px;
    background-color: #000;
    width: 100.5vw;
    padding: 0px;
    transform: translateX(-5%);
}

.mobile-navbar .nav-links.active {
    display: flex;
}

.mobile-navbar .nav-links.fade-in {
    animation: fadeIn 0.8s;
}

.mobile-navbar .nav-links.fade-out {
    animation: fadeOut 0.8s;
}

.mobile-navbar .nav-links a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    transition: color 1s;
    font-family: 'Poppins', sans-serif;
}

.mobile-navbar .nav-links a:hover {
    color: aqua;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

#3d-container {
    height: 100vh;
    width: 100vw;
    background: #000;
    position: relative;
    z-index: 1000;
}


.footer {
    background-color: #000;
    color: #fff;
    border-top: 1px solid #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline;
    margin: 0 10px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer ul li a i {
    font-size: 20px;
    transition: color 0.3s;
}

.footer ul li a:hover i {
    color: aqua;
    text-shadow: 0 0 4px aqua;
}


@media (min-width: 768px) {
    .mobile-navbar {
        display: none;
    }

    .desktop-navbar {
        display: block;
    }
}

@media (max-width: 767px) {
    .desktop-navbar {
        display: none;
    }

    .mobile-navbar {
        display: block;
    }
}


.desktop-navbar .anasayfa:hover,
.mobile-navbar .anasayfa:hover {
    color: gray;
    text-shadow: 0 0 20px gray;
}


.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.popup-content {
    position: relative;
    width: 75%;
    max-width: 800px;
    background-color: #000;
    border-radius: 15px;
    border: 3px solid aqua;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.popup-image {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    border-radius: 0 0 15px 15px;
    display: block;
}

.popup-text {
    padding: 20px;
    text-align: center;
    border-radius: 15px 15px 0 0;
    background-color: #000;
    color: #fff;
    width: 75%;
}

.popup-text h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.popup-text p {
    font-size: 18px;
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.close-btn:hover {
    color: #666;
}

#search-bar {
    width: 90%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid aqua;
    background-color: black;
    color: white;
}

#exoplanet-list {
    transition: transform 0.5s ease;
}


#info-panel {
    overflow-y: hidden;
}


#exoplanet-list {
    position: fixed;
    right: 0;
    top: 90px;
    overflow-y: auto;
    max-height: 400px;
    scrollbar-width: thin;
    scrollbar-color: aqua black;
}


#exoplanet-list::-webkit-scrollbar {
    width: 8px;
}

#exoplanet-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8);
}

#exoplanet-list::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.8);
}


#exoplanet-list {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.hidden-list {
    transform: translateX(150px);
}


#toggle-exoplanet-list-btn {
    position: fixed;
    top: 15%;
    right: 176px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: aqua;
    border: 2px solid aqua;
    cursor: pointer;
    z-index: 3;
    transition: transform 0.3s ease, right 0.3s ease;
}


#exoplanet-list::-webkit-scrollbar {
    width: 8px;
}


#info-panel {
    position: fixed;
    bottom: 10%;
    left: 10px;
    width: 300px;
    height: 370px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid aqua;
    border-radius: 5px;
    color: whitesmoke;
    z-index: 2;
    overflow-y: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease;
}


#toggle-info-btn {
    position: absolute;
    bottom: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: aqua;
    border: 2px solid aqua;
    border-radius: 5px;
    transform: translateX(12px);
    cursor: pointer;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, right 0.3s ease;
}

#toggle-info-btn:hover {
    background-color: aqua;
    color: black;
}

.hidden-panel #info-panel {
    transform: translateX(-100%);
    opacity: 0;
}


.hidden-panel #toggle-info-btn {
    right: 10px;
}

#exoplanet-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8);
}

#exoplanet-list::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.8);
}


#exoplanet-list {
    position: absolute;
    top: 90px;
    right: 0;
    width: 150px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid aqua;
    border-radius: 5px;
    color: whitesmoke;
    transition: transform 0.3s ease;
    z-index: 2;
}

.hidden-list {
    transform: translateX(150px);
}


#toggle-exoplanet-list-btn {
    position: absolute;
    top: 15%;
    right: 176px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: aqua;
    border: 2px solid aqua;
    cursor: pointer;
    z-index: 3;
    transition: transform 0.3s ease;
}
