
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./space-art-simple-background-moon-space-wallpaper-preview.jpg'); 
    background-size: cover;
    background-position: center;
}


.desktop-navbar {
    display: none; 
    background-color: #000; 
    color: whitesmoke; 
    border-bottom: 1px solid #333; 
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; 
    text-align: center;
}

.desktop-navbar a {
    color: whitesmoke; 
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px; 
    transition: color 1s;

}

.desktop-navbar .anasayfa {
    font-size: 24px; 
    font-weight: bold;
}

.desktop-navbar a:hover {
    color: aqua; 
    text-shadow: 0 0 10px aqua;
}


.mobile-navbar {
    background-color: #000; 
    color: whitesmoke; 
    border-bottom: none; 
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    position: relative;
}


.mobile-navbar .menu-icon {
    position: absolute;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    color: whitesmoke;
}


.mobile-navbar .anasayfa {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px; 
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    white-space: nowrap;
}


.mobile-navbar .nav-links {
    display: none; 
    flex-direction: column; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000; 
    width: 100%;
    padding: 0px; 
    margin: 17px;
    transform: translateX(-5%);
}

.mobile-navbar .nav-links.active {
    display: flex;
}

.mobile-navbar .nav-links.fade-in {
    animation: fadeIn 0.8s;
}

.mobile-navbar .nav-links.fade-out {
    animation: fadeOut 0.8s;
}

.mobile-navbar .nav-links a {
    color: whitesmoke; 
    text-decoration: none;
    padding: 10px;
    transition: color 1s;
    font-family: 'Poppins', sans-serif; 
}

.mobile-navbar .nav-links a:hover {
    color: aqua; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Video içeriği */
.content {
    padding: 20px;
    margin: 100px auto;
    max-width: 100%; 
    text-align: center; 
}

.content iframe {
    width: 100%;
    max-width: 854px; 
    height: auto; 
    max-height: 480px; 
    aspect-ratio: 16 / 9; 
}

/* Footer */
.footer {
    background-color: #000; 
    color: #fff; 
    border-top: 1px solid #333; 
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline;
    margin: 0 10px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer ul li a i {
    font-size: 20px;
    transition: color 0.3s;
}

.footer ul li a:hover i {
    color: aqua; 
    text-shadow: 0 0 4px aqua;
}


@media (min-width: 768px) {
    .mobile-navbar {
        display: none;
    }

    .desktop-navbar {
        display: block; 
    }
}

@media (max-width: 767px) {
    .desktop-navbar {
        display: none; 
    }

    .mobile-navbar {
        display: block;
    }
}


.desktop-navbar .anasayfa:hover,
.mobile-navbar .anasayfa:hover {
    color: gray; 
    text-shadow: 0 0 20px gray;
}
